.sls-wrapper {
	height: 15px;
	position: absolute;
	text-align: center;
	display: none;
	z-index: 9999;
}

.sls-wrapper.sls-animate {
	display: block;
}

.sls-wrapper .sls-animate-wrapper {
	height: 100%;
	/* 20px (our target line height size) / 14px (standard font-size) */
	line-height: 1.428571429;
}

.sls-wrapper .sls-loader-text {
	font-size: 14px;
	color: #fff;
}

.sls-wrapper .sls-loader-dot {
	display: inline-block;
	background-color: #fff;
    height: 100%;
    width: 6px;
    border-radius: 6px;
    animation: sls-bounce 1.2s infinite ease-in-out;
}

.sls-loader-dot.loader-dot-2 {
	animation-delay: 0.1s;
}

.sls-loader-dot.loader-dot-3 {
	animation-delay: 0.2s;
}

.sls-loader-dot.loader-dot-4 {
	animation-delay: 0.3s;
}

.sls-overlay {
	position: absolute;
	z-index: 9998;
	background-color: rgba(255, 255, 255, 0.7);
	/*pointer-event: none;*/
}

.sls-overlay.hide {
	display: none;
}

@keyframes sls-bounce {
	0%, 45%, 100% {
		transform: translateY(0px);
	}
	20% {
		transform: translateY(-20px);
	}
}